 /*
 .abs{
    font-size: 2cm;
    line-height: 17.5mm;
    width: 100px;
    /*height: 50px;*/
    /*padding: 7px;
    border: 2px dotted black;
}*/

div{
    font-size: 20px;
}

html{
    font-size: 50px;
}
/*em not working here. why? */
.rela{
    font-size: 2em;
}

/*not working check with sir*/
p{
    background-color: darkgreen ;
    width: 60vw;
    height: 60vh;
    color: white;
}

h1{
    width:40%;
    height:30%;
    border: 2px solid orange;
    background-color: green;
}
